absl-py
astunparse
azure-ai-vision-imageanalysis>=1.0.0
azure-core
azure-storage-blob
azure-cosmos
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
deepface==0.0.93
filelock
fire
Flask
flask-cors
flatbuffers
gast
gdown
google-pasta
grpcio==1.59.3
gunicorn
h3
h5py
idna
isodate
itsdangerous
Jinja2
joblib
keras==2.15.0
libclang
lightdsa
lightecc
lightphe
lz4
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
mpmath
mtcnn
namex
numpy==1.26.4
opencv-python-headless
opt_einsum
optree
packaging
pandas
pillow
protobuf==3.20.3
psycopg2-binary
pycparser
Pygments
PySocks
python-dateutil
python-dotenv
pywebpush
requests
retina-face
rich
setuptools
six
soupsieve
sympy
tensorflow==2.15.0
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt