Flask==3.0.3
psycopg2-binary==2.9.9
numpy==1.26.4
opencv-python==4.10.0.84
deepface==0.0.100
tensorflow==2.17.0
retina-face==0.0.17
pandas==2.2.2
gdown==5.2.0
tqdm==4.66.5
Pillow==10.4.0
requests==2.32.3